/* card layout */
.listWrapper {
  text-align: center;
}

.list {
  width: 888px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  width: 100%;
  padding: 24px;
  display: flex;
  gap: 24px;

  border-radius: 20px;
  border: var(--border);
}

.cardImg {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

/* card header */
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.cardHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardFavBtn {
  display: flex;
  background-color: transparent;
}

/* card sub header */
.cardSubHeader {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.itemRatingIcon {
  fill: var(--yellow-color);
  margin-right: 4px;
}

.itemRating {
  border-bottom: 1px solid var(--main-dark-color);
  margin-right: 16px;
}

.itemLocationIcon {
  margin-right: 4px;
}

.itemDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 526px;
  margin-bottom: 24px;

  color: var(--dark-grey-color);
}

/* item detail list */
.itemDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.itemDetailsPoint {
  padding: 12px 18px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--light-gray-color);
}

.itemDetailsText {
  font-weight: 500;
  line-height: 20px;
}

.itemDetailsTextCapital {
  composes: itemDetailsText;
  text-transform: capitalize;
}
