.modal {
  position: relative;
  width: 982px;
  height: 720px;
  padding: 40px;
  border-radius: 20px;
  background-color: var(--white-color);
  overflow-y: scroll;
}

.modalClose {
  position: sticky;
  top: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-dark-color);
  border-radius: 50%;
  padding: 8px;
  background-color: var(--light-grey-trans);
  backdrop-filter: none;

  transition: var(--transition);
}
.modalClose:hover,
.modalClose:focus {
  color: var(--dark-accent-color);
  background-color: var(--white-trans);
  backdrop-filter: var(--blur);
}

.modalCloseIcon {
  pointer-events: none;
}

/* modal header */
.modalHeader {
  position: absolute;
  top: 40px;
  left: 40px;
}

.modalTilte {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}

.modalHeaderWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.itemRatingIcon {
  fill: var(--yellow-color);
  margin-right: 4px;
}

.itemRating {
  border-bottom: 1px solid var(--main-dark-color);
  margin-right: 16px;
}

.itemLocationIcon {
  margin-right: 4px;
}

.modalPrice {
  composes: modalTilte;
  margin-bottom: 0;
}

/* gallery */
.modalGallery {
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.modalImg {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.modalDesc {
  margin-bottom: 44px;
  color: var(--dark-grey-color);
}

.modalNavWrapper {
  border-bottom: 1px solid var(--light-grey-trans);
}

/* modal details */
.modalDetailWrapper {
  padding-top: 44px;
  display: flex;
  gap: 24px;
}
