.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 20px 60px 0px;

  border-bottom: 1px solid var(--light-grey-trans);
  background-color: var(--white-trans);
  backdrop-filter: var(--blur);
}
