.tagsWrapper {
  margin-bottom: 44px;
}

.featuresTitle {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 48px;
}
.featuresTitle::after {
  position: absolute;
  bottom: -24px;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--light-grey-trans);
}

.itemDetails {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.detailsPoint {
  display: flex;
  justify-content: space-between;
}
.detailsPoint:not(:last-child) {
  margin-bottom: 14px;
}
