@import-normalize; /* bring in normalize.css styles */

:root {
  --main-dark-color: #101828;
  --dark-grey-color: #475467;
  --accent-color: #e44848;
  --yellow-color: #ffc531;
  --light-gray-color: #f2f4f7;
  --light-color: #f7f7f7;
  --white-color: #fff;

  --dark-accent-color: #d13d3d;
  --light-grey-trans: rgb(16, 24, 40, 20%);
  --dark-grey-trans: rgb(16, 24, 40, 60%);
  --white-trans: #ffffffa3;
  --blur: blur(2px);

  --transition: 150ms ease-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--white-color);
  font-weight: 400;
  color: var(--main-dark-color);
  cursor: default;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  cursor: pointer;
  line-height: inherit;
}

.bodyFixed {
  position: fixed;
}

.visuallyHidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.mainContainer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* scrollbar stylized */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(36, 36, 36, 0.8);
  border-radius: 4px;
}

/* navigation */
.navigation {
  height: 48px;
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.navItem {
  height: 100%;
}

.navLink {
  padding-bottom: 24px;
  cursor: pointer;
}
.navLink::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);

  transform: translateY(21px) scaleX(0);
  transition: var(--transition);
}

.navLinkActive {
  composes: navLink;
}
.navLinkActive::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);

  transform: translateY(21px) scaleX(1);
  transition: var(--transition);
}
