@import-normalize; /* bring in normalize.css styles */

:root {
  --main-dark-color: #101828;
  --dark-grey-color: #475467;
  --accent-color: #e44848;
  --yellow-color: #ffc531;
  --light-gray-color: #f2f4f7;
  --light-color: #f7f7f7;
  --white-color: #fff;

  --dark-accent-color: #b92a2a;

  --transition: 150ms ease-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--white-color);
  font-weight: 400;
  color: var(--main-dark-color);
  cursor: default;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  cursor: pointer;
  line-height: inherit;
}

.bodyFixed {
  position: fixed;
}

.visuallyHidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
